@media screen and (max-width:576px) {
    /* navbar responsive start here */
    .nav-main{
        width: 80%;
    }
    .nav-left{
        display: flex;
        align-items: center;
        padding-left: 20px;
    }
    .nav-menu{
        display: block;
        font-size: 20px;
        margin-right:  50px;
    }
    .nav-cart{
        display: block;
        font-size: 19px;
    }
    .nav-right{
        display: none;
    }
    .nav-left h2{
        font-size: 14px;
    }
    .nav-cart{
        margin-left: 40px;
    }

    /* navbar responsive end here */


    /* header responsive start here */
    .header-main{
        flex-direction: column-reverse;
    }
    .header-right img{
        width: 80%;
        margin-left: 25px;
        margin-bottom: 20px;
    }
    .header-left h1{
        font-size: 26px;
        text-align: center;
        margin-top: 15px;
    }
    .header-left p{
        margin-top: 20px;
        text-align: center;
    }
    .header-left button{
      margin-left: 70px;
    }
         /* header responsive end here */


        /* sponsor section responsive start here  */
    .sponsor{
        margin: 10%;
    }
    .sponsor img{
        width: 40px;
        height: 30px;              
     }
          /* sponsor section responsive end here  */


        /* Popular section responsive start here */
        .card{
            grid-template-columns: repeat(1, 1fr);
            margin-left: 40px;
            margin-right: 40px;

        }
        .title{
            padding-left: 20px;
            font-size: 25px;
        }
        .popular-main img{
            width: 100%;
            height: 100%;
          }
         /* Popular section responsive end here */

         .product-main{
            flex-direction: column-reverse;
         }
         .product-right h1{

            font-size: 50px;
            margin-bottom: 20px;
}
.product-left img{
    width: 100%;
}
.fot-container h1{
    font-size: 19px;
}
}